<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhoujunlin94.code.gen.example.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="io.github.zhoujunlin94.code.gen.example.entity.Book">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="xfield" jdbcType="VARCHAR" property="xfield"/>
        <result column="book_name" jdbcType="VARCHAR" property="bookName"/>
        <result column="book_desc" jdbcType="VARCHAR" property="bookDesc"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="buy_link" jdbcType="VARCHAR" property="buyLink"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="teacher_desc" jdbcType="VARCHAR" property="teacherDesc"/>
        <result column="button_text" jdbcType="VARCHAR" property="buttonText"/>
        <result column="teacher_avatar" jdbcType="VARCHAR" property="teacherAvatar"/>
        <result column="teacher_qrcode" jdbcType="VARCHAR" property="teacherQrcode"/>
        <result column="first_custom_message" jdbcType="VARCHAR" property="firstCustomMessage"/>
        <result column="second_custom_message" jdbcType="VARCHAR" property="secondCustomMessage"/>
        <result column="book_status" jdbcType="TINYINT" property="bookStatus"/>
        <result column="book_qrcode" jdbcType="VARCHAR" property="bookQrcode"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="dark_tag_text" jdbcType="VARCHAR" property="darkTagText"/>
        <result column="light_tag_text" jdbcType="VARCHAR" property="lightTagText"/>
        <result column="recommend_state" jdbcType="TINYINT" property="recommendState"/>
        <result column="recommend_photo_url" jdbcType="VARCHAR" property="recommendPhotoUrl"/>
        <result column="recommend_button_text" jdbcType="VARCHAR" property="recommendButtonText"/>
        <result column="recommend_text" jdbcType="VARCHAR" property="recommendText"/>
        <result column="hover_button_state" jdbcType="TINYINT" property="hoverButtonState"/>
        <result column="hover_button_photo_url" jdbcType="VARCHAR" property="hoverButtonPhotoUrl"/>
        <result column="hover_button_to_link" jdbcType="VARCHAR" property="hoverButtonToLink"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="open_simulation_exam" jdbcType="TINYINT" property="openSimulationExam"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, project_id, xfield, book_name, book_desc, price, cover_url, buy_link, remark, teacher_name, 
		teacher_desc, button_text, teacher_avatar, teacher_qrcode, first_custom_message, second_custom_message, book_status, book_qrcode, is_delete, created_by, 
		created_at, updated_by, updated_at, subject_id, dark_tag_text, light_tag_text, recommend_state, recommend_photo_url, recommend_button_text, recommend_text, 
		hover_button_state, hover_button_photo_url, hover_button_to_link, shop_id, open_simulation_exam
    </sql>

</mapper>